@import 'highlight.js/styles/github-dark.css';

.col {
  min-width: 0;
}

#aside-nav {
  width: 20rem;
  z-index: 1;
}

#aside-nav-space {
  width: 20rem;
}

.copyBtn {
  position: absolute;
  right: .2rem;
  top: .5rem;
  border-radius: 50%;
  display: flex;
  padding: .5rem;
  min-height: 0;
  margin-top: -1px;
}

.copyBtn,
.copyBtn:hover,
.copyBtn:focus,
.copyBtn:active {
  background-color: var(--bs-dark);
}